.root {
    -fx-background-color: #DCCDFF;
    -fx-font-family: Cochin;
}
.menu-button {
    -fx-background-color: #DCCDFF;
    -fx-font-family: Cochin;
    -fx-text-fill: black;
    -fx-font-size: 20;
}
.button {
    -fx-background-color: #FFFFFF;
    -fx-font-family: Cochin;
    -fx-text-fill: black;
    -fx-font-size: 20;
}
.label {
    -fx-font-size: 20;
}

