.text-field {
    -fx-background-color: #DCCDFF;
    -fx-font-family: Cochin;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 50px;
    -fx-prompt-text-fill: black ;
    -fx-font-size: 20px;
}
.button {
    -fx-background-color: #DCCDFF;
    -fx-font-family: Cochin;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 50px;
}
